@import url('https://fonts.googleapis.com/css?family=Overlock:400,700,900&subset=latin-ext');
body {

}

.wrapper {
    border: 4px solid #747472;
    height: 100vh;
    width: 100vw;
    font-family: 'Overlock', cursive;
    background-color: #F4E9D7;
}

.main h3 {
    font-size: 30px;
    font-weight: 700;
}

.text-center {
    line-height: 60px;
    padding-top: 15px;
}

.photo img {
    margin: 0 auto;
    position: absolute;
    left: 500px;
    top: 370px;
}

.table {
    font-size: 18px;
}

.newGame button {
    border: 2px solid #EDC5BB;
    font-size: 18px;
    height: 50px;
    font-weight: 700;
}

.newGame button:hover {
    background-color: #EDC5BB;
    color: #fff;
    border-color: #C7C3BA;
}

.main .btnScissors {
    background-color: #EDC5BB;
}

.main .btnRock {
    background-color: #C7C3BA;
}
.main .btnPaper {
    background-color: #C1DFDE;
}

.playerPick .btnRock span, .playerPick .btnPaper span, .playerPick .btnScissors span {
    font-size: 2em;
}

.btn-default {
    font-size: 40px;
}
.playerPick .btnRock {
    background-color: #C7C3BA;
    border: 2px solid #747472; 
    margin: 5px;
    padding: 10px 20px;
}

.playerPick .btnRock:hover {
    background-color: #9F9C94;
}

.playerPick .btnPaper {
    background-color: #C1DFDE;
    border: 2px solid #747472;
    margin: 5px;
    padding: 10px 20px;
}

.playerPick .btnPaper:hover {
    background-color: #8ec5c3;
}

.playerPick .btnScissors {
    background-color: #EDC5BB;
    border: 2px solid #747472;
    margin: 5px;
    padding: 10px 20px;
}

.playerPick .btnScissors:hover {
    background-color: #e8b4a7;
}

.name {
    font-size: 1.5em;
    font-weight: 900;
}

.count {
    font-size: 1.2em;
    font-weight: 700;
    border-bottom: 10px solid #C7C3BA;
    border-width: 3px;
}

.rock, .paper, .scissors {
    color: #000;
}
